<table class="navtable" align="center">
	<tr>
		<td class="logo">
		</td>
		<td class="name">
			<div id="mdInfo" class="bannerText"><nobr>What would you like to deploy today?</nobr></div>
			<div id="time" class="time"><nobr><%= Time.now.strftime('%b %e, %Y %l:%M %p') %></nobr></div>
		</td>
		<td class="fleet">
			<a href="/"><img src="/img/ic_home.gif" width="22" height="23"></a>
		</td>
		<td class="btnText">
			<a href="/">Home</a>
		</td>
		<td class="btnText">
			<a href="/fleet">Fleet</a>
		</td>
		<td class="btnText">
			<a href="/route">Route</a>
		</td>
		<td class="btnText">
			<a href="/audit">Audit</a>
		</td>
	</tr>
</table>
