<table class="navtable" align="center">
	<tr>
		<td class="logo">
		</td>
		<td class="name">
			<div id="mdInfo" class="bannerText"><nobr>What would you like to do today?</nobr></div>
			<div id="time" class="time"><nobr><%= Time.now.strftime('%b %e, %Y %l:%M %p') %></nobr></div>
		</td>
		<td class="btnText">
			<a href="/">Home</a>
		</td>
		<td class="btnText">
			<a href="/classes">Classes</a>
		</td>
		<td class="btnText">
			<a href="/thing2">Thing2</a>
		</td>
		<td class="btnText">
			<a href="/thing3">THing3</a>
		</td>
	</tr>
</table>
